.input-list {
    background-color: #fff;
    float: left;
    width: 200px;
    min-height: 26px;
    position: relative;
    border-radius: 2px;
    background-clip: padding-box;
    border: solid 1px #ccc;
    margin-right: 3px;
}
.input-list ul {
    margin: 0;
    list-style: none;
}
.input-list ul li {
    float: left;
    list-style: none;
}
.input-list ul li input,
.input-list ul li input:focus {
    border: none;
    background-color: #fff;
    width: 26px;
    padding-right: 0;
    outline: 0;
    box-shadow: none;
}
.input-list ul li.choice {
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #e4e4e4;
    color: #333;
    cursor: pointer;
    border: solid 1px #e4e4e4;
    line-height: 13px;
    padding: 3px 20px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
}
.input-list ul li.choice i {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 2px;
    width: 13px;
    height: 8px;
}
.input-list ul li.choice i:before {
    content: '\00d7';
    font-size: 14px;
    font-style: normal;
}
.input-list ul li.choice i:hover:before {
    color: #c00;
}
.input-list ul li.choice.can-delete {
    background-color: #08c;
    color: #fff;
    border: solid 1px #08c;
}
.input-list ul li.choice.can-delete i:hover:before {
    color: #fa0;
}